<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
</head>
<body>
    <h1>Resume</h1>
    <ul>
        <li>Name: <%= name %></li>
        <li>DOB: <%= dob %></li>
        <li>CNIC: <%= cnic %></li>
        <li>Email: <%= email %></li>
        <li>Phone: <%= phone %></li>
        <li>Address: <%= address %></li>
        <li>Education: <%= edexp %></li>
    </ul>
</body>
</html>
